# Ignorar entorno virtual en la raíz
/.venv/

# Ignorar configuración de editor PyCharm/IDEA
/.idea/

# Ignorar fichero de notas
notas.txt

/__pycache__/
__pycache__/
*.pyc
/BD/
/DB/BetisDB.db
.env
coc.env